<div class="container">
  <div class="card-trip">
    <img src=<%= Faker::Avatar.image%>% />
    <div class="card-trip-infos">
      <div>
        <h2> <%= @cocktail.name %></h2>
        <table>
          <caption>Doses</caption>
          <thead>
            <tr>
              <th>
                Description
              </th>
              <th>
                Ingrédient
              </th>
            </tr>
          </thead>
          <tbody>
            <% @cocktail.doses.each do |dose| %>
              <tr>
                <td>
                  <%= link_to dose_path(dose), method: :delete do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                  <%= dose.description%>
                </td>
                <td><%= dose.ingredient.name%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div>
          <%= link_to "Add A Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-primary"%>
          <%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn btn-outline-info"%>
          <%= link_to "Delete", cocktail_path(@cocktail), class: "btn btn-outline-warning", method: :delete%>
          <%= link_to "Cancel", cocktails_path, class: "btn btn-outline-danger"%>
        </div>
      </div>
      <%# <h2 class="card-trip-pricing"></h2> %>
    </div>
  </div>
  </div>
